
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: fantasy; 
}


body{
    background-color: #4278f6;
}

.wrapper{
    width: 100%;
}

.mega_menu{
    width: 100%;
    height: 60px;
}

.mega_menu ul{
   width: 100%;
   height: 100%;
    background-color: #000000;
    text-align: center;
    line-height:59px;
    position: relative;
}

.mega_menu ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;
}

.mega_menu ul li a{
    text-decoration: none;
    color: #11D949;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
    display: block;
}

.mega_menu ul li .sub_menu{
    position: absolute;
    background: #fe3d43;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    visibility: hidden;
}

.mega_menu ul li:hover{
    background-color: #fe3d43;
}

.mega_menu ul li:hover a{
    color: #3308f8;
}

.mega_menu ul li:hover .sub_menu{
    visibility: visible;
}

.mega_menu ul li .sub_menu .col img{
    width: 280px;
    height: 160px;

}